<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>144046112579-rbpmho4gornmss62mj8ubnl8720ova4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144046112579-rbpmho4gornmss62mj8ubnl8720ova4u</string>
	<key>API_KEY</key>
	<string>AIzaSyBi4MBYKWzW0O405q3y-igFzPSLdnuF6dU</string>
	<key>GCM_SENDER_ID</key>
	<string>144046112579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fineartsilks.myWorks.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-fd20d</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-fd20d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:144046112579:ios:6ac84c5c8e0a1905</string>
	<key>DATABASE_URL</key>
	<string>https://snapchatclone-fd20d.firebaseio.com</string>
</dict>
</plist>